@CHARSET "ISO-8859-1";

form.isp_search_box_form input[type="text"].isp_search_box_input {
	border-color: #707780;
	background: #fff;
	border: 1px solid #707780;
	border-radius: 1000px;
	box-shadow: none;
	font-size: 0.875rem;
	height: auto;
	padding: 0.5em 1em;
	margin: 0.2rem 0.2rem 0.2rem 0.2rem;	
	width: 7.5rem;
	font-family: inherit;
	display: block;
	box-sizing: border-box;
	opacity: 0.8;
	color: #60626b;
	-webkit-transition: border 0.5s, width 0.5s, opacity 0.5s;
	-moz-transition: border 0.5s, width 0.5s, opacity 0.5s;
	transition: border 0.5s, width 0.5s, opacity 0.5s;
}

form.isp_search_box_form input[type="text"].isp_search_box_input:focus{
	border: 2px solid #707780;
	width: 10rem;
	opacity: 1;
}
